/* Fuentes */
@font-face {
    font-family: 'Cursive';
    src: url(fonts/DancingScript-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Montserrat';
    src: url(fonts/MontserratAlternates-Regular.otf) format('opentype');
}

body{
    margin: 0;
    padding: 0;
    background-color: #fdf7f7;
}

ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdf7f7;
    object-fit: cover;
}

/* Top Section */
.top_section{
    margin: 0px;
    padding: 0px;
}

.top_image{
    width: 100%;
    height: 100%;
}

/* Middle Section */
.middle_section{
    display: block;
    margin: 0px;
    padding: 0px;
}

.middle_description{
    text-align: center;
}

.middle_description h2{
    font-weight: normal; 
}

/* Middle Section */
.middle_place, .location_place{
    text-align: center;
    padding: 10px;
}

.place_description h1{
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}

.place_description h2, .location_place h2{
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;  
}

.location_date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
}

.event_day, .event_hour{
    flex: 1;
    text-align: center;
    font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;    
}

.event_day h2, .event_hour h2{
    font-weight: 100;
}

.celebration_separator{
    background-color: rgb(131, 131, 131);
}

.button {
    background-color: #c2b68d;
    color: white;
    font-weight: bolder;
    border-radius: 3px;
    border: none;
    margin: 20px 0px;
    cursor: pointer;
    margin: 60px 0px 0px 0px;
    transition: 0.3s;
}

.button:active{
    background-color: rgb(114, 108, 87);
}

.gallery{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    margin: 50px 0px 0px 0px;
    padding: 1px 0px ; 
    background-color: #c2b68d;
}

.gallery_photo{
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 4s ease-in-out;
}

.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    opacity: 0; 
    transition: opacity 0.4s ease-in-out;
  }

  .fullscreen-image.show {
    opacity: 1;
  }

  .fullscreen-image img {
    max-width: 100%;
    max-height: 100%;
  }

/* Resolucion maxima de 360 pixeles */
@media screen and (max-width: 360px){
    .top_text{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        font-family: 'Cursive', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #fdf7f7;
        /* text-shadow: 0px 0px 10px #000; */
        font-size: 20px;
    }

    /* Middle Section */
    .middle_description h1{
        font-family: 'Cursive', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
    }

    .middle_description h2{
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 18px;
    }

    .middle_timer{
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
    }
    
    .timer_content{
        text-align: center;
    }
    
    .timer_circle{
        display: flex;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #c2b68d;
        align-items: center;
        justify-content: center;;
    }
    
    .timer_circle h2{
        color: #fdf7f7;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .timer_content h4 {
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
        margin: 0px;
    }

    .place_image{
        margin: 30px 0px 0px 0px;
    }

    .place_image img{
        width: 50px;
        height:50px;
    }

    .place_description h1{
        font-size: 30px;
    }
    
    .place_description h2, .location_place h2{
        margin: 10px; 
        font-size: 15px;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif; 
    }
    
    .event_day h2, .event_hour h2{
        font-size: 20px;
    }
    
    .celebration_separator{
        height: 50px;
        width: 1px;
    }

    .button {
        width: 60%;
        height: 40px;
        font-size: 14px;
    }

}

/* Resolucion maxima 430 pixeles */
@media screen and (min-width: 361px) and (max-width: 450px){
    /* Top Section */
    .top_text{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        font-family: 'Cursive', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #fdf7f7;
        /* text-shadow: 0px 0px 10px #000; */
        font-size: 28px;
    }

    /* Middle Section */
    .middle_description h1{
        font-family: 'Cursive', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        color: rgba(0, 0, 0, 0.842);
    }

    .middle_description h2{
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 25px;
        color: rgba(0, 0, 0, 0.842);
    }
    
    .middle_timer{
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
    }
    
    .timer_content{
        text-align: center;
    }
    
    .timer_circle{
        display: flex;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: #c2b68d;
        align-items: center;
        justify-content: center;
    
    }
    
    .timer_circle h2{
        color: #fdf7f7;
        font-weight: bold;
        font-size: 30px;
        text-align: center;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .timer_content h4 {
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.842);
        margin: 0px;
    }

    .place_image{
        margin: 30px 0px 0px 0px;
    }

    .place_image img{
        width: 70px;
        height:70px;
    }

    .place_description h1{
        font-size: 40px;
    }
    
    .place_description h2, .location_place h2{
        margin: 10px; 
        font-size: 20px;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;  
    }

    .event_day h2, .event_hour h2{
        font-size: 25px;
    }
    
    .celebration_separator{
        height: 60px;
        width: 1px;
    }

    .button {
        width: 60%;
        height: 45px;
        font-size: 16px;
    }
    
}

/* Resolucion maxima 900 pixeles */
@media screen and (min-width: 451px) and (max-width: 900px){
    /* Top Section */
    .top_text{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        font-family: 'Cursive', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #fdf7f7;
        /* text-shadow: 0px 0px 10px #000; */
        font-size: 35px;
    }

    /* Middle Section */
    .middle_description h1{
        font-family: 'Cursive', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 60px;
        color: rgba(0, 0, 0, 0.842);
    }

    .middle_description h2{
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 30px;
        color: rgba(0, 0, 0, 0.842);
    }

    .middle_timer{
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
    }
    
    .timer_content{
        text-align: center;
    }
    
    .timer_circle{
        display: flex;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        background-color: #c2b68d;
        align-items: center;
        justify-content: center;    
    }
    
    .timer_circle h2{
        color: #fdf7f7;
        font-weight: bold;
        font-size: 40px;
        text-align: center;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .timer_content h4 {
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.842);
        margin: 0px;
    }

    .place_image{
        margin: 60px 0px 0px 0px;
    }

    .place_image img{
        width: 85px;
        height: 85px;
    }

    .place_description h1{
        font-size: 50px;
    }
    
    .place_description h2, .location_place h2{
        margin: 10px; 
        font-size: 30px;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;  
    }

    .event_day h2, .event_hour h2{
        font-size: 30px;
    }
    
    .celebration_separator{
        height: 70px;
        width: 1px;
    }

    .button {
        width: 60%;
        height: 50px;
        font-size: 18px;
    }
}

/* Resolucion maxima 900 pixeles */
@media screen and (min-width: 901px) and (max-width: 1370px){
    /* Top Section */
    .top_text{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        font-family: 'Cursive', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #fdf7f7;
        /* text-shadow: 0px 0px 10px #000; */
        font-size: 65px;
    }

    /* Middle Section */
    .middle_description h1{
        font-family: 'Cursive', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 90px;
        color: rgba(0, 0, 0, 0.842);
    }

    .middle_description h2{
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 50px;
        color: rgba(0, 0, 0, 0.842);
    }

    .middle_timer{
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
    }
    
    .timer_content{
        text-align: center;
    }
    
    .timer_circle{
        display: flex;
        width: 85px;
        height: 85px;
        border-radius: 50%;
        background-color: #c2b68d;
        align-items: center;
        justify-content: center;
    
    }
    
    .timer_circle h2{
        color: #fdf7f7;
        font-weight: bold;
        font-size: 50px;
        text-align: center;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .timer_content h4 {
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 28px;
        color: rgba(0, 0, 0, 0.842);
        margin: 0px;
    }

    .place_image{
        margin: 90px 0px 0px 0px;
    }

    .place_image img{
        width: 130px;
        height: 130px;
    }

    .place_description h1{
        font-size: 70px;
    }
    
    .place_description h2, .location_place h2{
        margin: 10px; 
        font-size: 40px;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;  
    }

    .event_day h2, .event_hour h2{
        font-size: 35px;
    }
    
    .celebration_separator{
        height: 80px;
        width: 1px;
    }

    .button {
        width: 60%;
        height: 55px;
        font-size: 20px;
    }
    
}

/* Resolucion de mayor a 1371px  */
@media screen and (min-width: 1371px){
    /* Top Section */
    .top_text{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        text-align: center;
        font-family: 'Cursive', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        color: #fdf7f7;
        /* text-shadow: 0px 0px 10px #000; */
        font-size: 100px;
    }

    /* Middle Section */
    .middle_description h1{
        font-family: 'Cursive', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 140px;
        color: rgba(0, 0, 0, 0.842);
    }

    .middle_description h2{
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 70px;
        color: rgba(0, 0, 0, 0.842);
    }

    .middle_timer{
        display: flex;
        justify-content: space-around;
        margin: 40px 0px;
    }
    
    .timer_content{
        text-align: center;
    }
    
    .timer_circle{
        display: flex;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background-color: #c2b68d;
        align-items: center;
        justify-content: center;
    
    }
    
    .timer_circle h2{
        color: #fdf7f7;
        font-weight: bold;
        font-size: 70px;
        text-align: center;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .timer_content h4 {
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-size: 35px;
        color: rgba(0, 0, 0, 0.842);
        margin: 0px;
    }

    .place_image{
        margin: 120px 0px 0px 0px;
    }

    .place_image img{
        width: 180px;
        height: 180px;
    }

    .place_description h1{
        font-size: 100px;
    }
    
    .place_description h2, .location_place h2{
        margin: 10px; 
        font-size: 60px;
        font-family: 'Montserrat', Verdana, Geneva, Tahoma, sans-serif;
        font-weight: normal;  
    }

    .event_day h2, .event_hour h2{
        font-size: 45px;
    }
    
    .celebration_separator{
        height: 90px;
        width: 1px;
    }
    
    .button {
        width: 60%;
        height: 60px;
        font-size: 24px;
    }
}
